BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET_HERE
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME"
NEXT_PUBLIC_SUPABASE_URL=https://YOUR_SUPABASE_PROJECT_ID.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE
